<div style="text-align: center;"><h1>PhotoSphereStudio</h1>
<p>I am not very good at CSS, so please submit a pull request if you are great at frontend development.</p>
    <p>Use the button below to authenticate your google account in order to use the service.</p>
<a href="https://accounts.google.com/o/oauth2/v2/auth?response_type=code&client_id=XXXXXXXXXXXX-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.apps.googleusercontent.com&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fstreetviewpublish&redirect_uri=http%3A%2F%2Flocalhost%3A7000%2Fauth%2F">
    <img src="https://developers.google.com/static/identity/images/btn_google_signin_dark_normal_web.png">
</a>
</div>
