<%- include('../partials/header'); %>

<div class="column shadow-sm p-3 m-4 bg-dark-3 text-light">
    <div align="left">
        <h1>Donations</h1>
        <p>Find this service useful? Consider donating!</p>
        <h2>Bitcoin</h2>
        <p>37UFXbEqWiixvMDfooL9BsSD9mU3ZzRxKg</p>
        <h2>Monero</h2>
        <p>49aXC8ZatrK4MrQXeSpUGsYk5HKLpeuhTZKMW8MtXuXxhNob8rQQBrkRj471Zv4ZNoCu6teYwsMy42HznLp6grCt1AUDCrW</p>
        <br>
        <h2>Looking for a VPS that accepts crypto?</h2>
        <p>Consider BuyVM! Their policy is very lenient, and they even allow running exit nodes. Consider using my referral link: <a href="https://my.frantech.ca/aff.php?aff=4697">https://my.frantech.ca/aff.php?aff=4697</a></p>
    </div>
</div>

<%- include('../partials/footer'); %>