<%- include('../partials/header'); %>

<div class="column shadow-sm p-3 m-4 bg-dark-3 text-light">
    <div align="left">
        <h1>Get Started</h1>
        <p>Use the button below to authenticate your google account in order to use the service.</p>
        <a href="https://accounts.google.com/o/oauth2/v2/auth?response_type=code&client_id=<%= clientId %>&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fstreetviewpublish&redirect_uri=<%= full_url %>/auth/">
            <img src="https://developers.google.com/static/identity/images/btn_google_signin_dark_normal_web.png">
        </a>
    </div>

    <div class="form-group">
        <label for="map" class="text-light">Users who have chosen to publish their urls to this map will be shown here</label>
        <div id="map" class="leaflet-container" style="max-width: 100%; height: 500px"></div>
    </div>
</div>

<%- include('../partials/footer'); %>