<%- include('../partials/header'); %>

<div class="column shadow-sm p-3 m-4 bg-dark-3 text-light">
    <div align="left">
        <h1>Upload</h1>
        <p>This page will allow you to upload photo spheres to Google Maps after the <i>idiots</i> at Google removed
            their perfectly working StreetView app.</p>

        <div class="alert alert-info" role="alert">
            <span><b>If you find this website useful consider <a href="/donate">donating!</a></b></span>
        </div>
        <div class="alert alert-info" role="alert">
            <span><b>Use the <a href="https://hugin.sourceforge.io/">Hugin</a> program and RAW photos to export DJI Drone PhotoSpheres in best quality.</b> Google has <b>removed</b> PhotoSphere from Pixel Camera 9.1 and later, use <a href="https://www.apkmirror.com/apk/google-inc/camera/camera-9-0-115-561695573-37-release/">APKMirror</a> to download older versions!</span>
        </div>

        <div class="alert alert-warning" role="alert">
            <span>7.5 MP or larger (3,840 x 1,920 px), 2:1 image aspect ratio, No more than 75 MB in size, and MUST be JPEG. Use Paint.NET to compress photo to 98 or 99% to get right under 75mb.</span>
        </div>

        <form name="uploadForm" action="/upload" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <legend>Upload a 360 image</legend>
                <div class="file-upload">
                    <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger('click')">Add
                        Image
                    </button>

                    <div class="image-upload-wrap">
                        <input class="file-upload-input" type='file' id="file" name="file" onchange="readURL(this);"
                               accept="image/png, image/jpeg"/>
                        <div class="drag-text">

                            <div class="buttonText">
                                    
                                    <span class="material-symbols-outlined" style="font-size: 5vw;">
                                        upload
                                    </span>

                                <h3>Drag and drop a file or select add Image</h3>

                            </div>


                        </div>
                    </div>
                    <div class="file-upload-content">
                        <img class="file-upload-image" src="" alt="Uploaded Image"/>
                        <div class="image-title-wrap">
                            <button type="button" onclick="removeUpload()" class="remove-image">Remove <span
                                        class="image-title">Uploaded Image</span></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="map" class="text-light">Map</label>
                <div id="map" class="leaflet-container" style="max-width: 100%; height: 500px"></div>
            </div>
            <div class="form-group">
                <label for="lat" class="text-light">Latitude</label>
                <input type="text" id="lat" name="lat" placeholder="Latitude coordinates" class="form-control"
                       required/>
            </div>
            <div class="form-control">
                <label for="long" class="text-light">Longitude</label>
                <input type="text" id="long" name="long" placeholder="Longitude coordinates" class="form-control"
                       required/>
            </div>
            <div class="form-control">
                <label for="publish" class="text-light">Publish url as a marker to this website's map?</label>
                <input type="checkbox" id="publish" name="publish" placeholder="Publish checkbox" class="checkmark" checked/>
            </div>
            <div class="advancedContainer">

                <details>
                    <summary>Advanced Options</summary>
                    <pre>
                    <div class="form-group">
                        <label for="pose" class="text-light">Heading/Pose</label>
                        <input type="text" id="pose" name="head"
                               placeholder="Degrees from north that the front of the photo was taken from (0-360)"
                               class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label for="place" class="text-light">Associate Photo with Place (OPTIONAL)</label>
                        <input type="text" id="place" name="place"
                               placeholder="PlaceId of assigned place (Invalid PlaceId error? Try a different place.)"
                               class="form-control" />
                    </div>
                    <p>
                        Find the placeId of your place <a href="https://geo-devrel-javascript-samples.web.app/samples/places-placeid-finder/app/dist/">here</a>. (Make sure to search your place, it will not show id by clicking the place)
                    </p>
                    </pre>
                </details>
            </div>

            <button type="submit" class="ripple">UPLOAD</button>
        </form>
    </div>
</div>

<script>

</script>

<%- include('../partials/footer'); %>
